.produto {
    width: calc(50vw - 24px);

    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

.produto:nth-child(5), .produto:nth-child(6) {
    display: none;
}

.produto__imagem {
    width: calc(50vw - 24px);
}

.produto__preco {
    font-weight: 700;
}

.produto__link {
    text-decoration: none;
    color: #2A7AE4;
    font-weight: 700;
}

.produto__link::after {
    content: " \1F86A";
}

@media screen and (min-width: 768px) {
    .produto__link {
        font-size: 1rem;
    }

    .produto__imagem {
        width: auto
    }

    .produto {
        width: 24.25%;
    }    
}

@media screen and (min-width: 1024px) {
    .produto:nth-child(5), .produto:nth-child(6) {
        display: flex;
    }

    .produto {
        width: 15.8%;
    }
}