.produto__editDelete{
    position: absolute;
    top: 5px;
    right: 5px;
}

.produto__delete, .produto__edit{
    height: 20px;
    width: 20px;

    border: none;
    border-radius: 3px;

    background-color: white;
    opacity: 0.5;
    background-repeat: no-repeat;
    background-position: center;

    
}

.produto__delete:hover, .produto__edit:hover{
    cursor: pointer;
}

.produto__edit{
    background-image: url(../../img/pencil.svg);
}

.produto__delete{
    background-image: url(../../img/trash-can.svg);
}