.cabecalho__botao {
    background-color: #FFF;
    background-image: url(/assets/img/lupa.svg);
    background-repeat: no-repeat;
    background-position: center;

    height: 1.5rem;
    width: 1.5rem;

    border: none;

    padding: 0;
}

@media screen and (min-width: 768px) {
    .cabecalho__botao {
        display: none;
    }
}