.rodape {
    background-color: #EAF2FD;

    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 32px;
}

.rodape__imagem {
    display: none;
}

.rodape__imagem__lista, .rodape__imagem {
    width: 176px;
}


.feitoPor__texto {
    text-align: center;
    color: #464646;
    font-weight: 600;

    padding: 2rem;

    border-radius: 5px;
}

@media screen and (min-width: 768px) {
    .rodape {
        flex-direction: row;
        
        padding: 2rem;

        justify-content: space-between;
    }
}

@media screen and (min-width: 1024px) {
    .rodape {
        padding: 4rem 10vw;

        column-gap: 2rem;
    }
    
    .rodape__imagem__lista {
        display: none;
    }

    .rodape__imagem {
        display: unset;

        align-self: flex-start;

        margin-top: 40px;
    }
}