.rodape__lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

.rodape__link {
    text-decoration: none;
    color: #464646;
}


@media screen and (min-width: 768px) {
    .rodape__lista {
        align-items: flex-start;

        row-gap: 1.5rem;
    }
}