.botaoBranco {
    color: #2A7AE4;
    text-decoration: none;
    font-weight: 600;
    
    border: solid 2px #2A7AE4;

    background-color: #FFF;

    padding: .6rem 2rem;

    white-space: nowrap;
}

.botaoAzul {
    color: #FFF;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;

    border: none;

    background-color: #2A7AE4;

    padding: .75rem 1rem;

    flex-basis: auto;
}

.adm {
    padding: .75rem 1rem;
    font-size: 14px;
}

.botao__adicionaProduto {
    font-size: 1rem;
    font-weight: 400;
}

.botao__login {
    padding: .75rem 2.125rem;
}

@media screen and (min-width: 1024px) {
    .botao__login {
        height: 3.75rem;

        font-size: 1.25rem;
    }

    .botaoAzul {
        font-size: 1rem;
        font-weight: 400;
    }
}