.login {
    padding: 4.75rem 4.375rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;

    background-color: #E5E5E5;
}

.login__titulo {
    text-align: center;
}

.login__label {
    display: none;
}

.botao__login {
    padding: .75rem 2.125rem;
}