.produtos {
    padding: 1rem;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1rem;

    background-color: #E5E5E5;
}

.produtos__lista {
    display: flex; 
    flex-wrap: wrap;
    gap: 1rem;
}

.produtos__cabecalho {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 1rem;

    width: 100%;
}

.produtos__titulo {
    font-size: 1.5rem;
    font-weight: 700;
}

@media screen and (min-width: 768px) {
    .produtos {
        padding: 2rem;
    }

    .produtos__lista {
        gap: 1rem 1%;

        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .produtos {
        padding: 2rem 10vw 2rem;
    }

    .produtos:nth-child(3) {
        padding: 4rem 10vw 2rem;
    }
}